config/Modules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:xmlns:ist.fisglobal.com/flex/modules"
	xmlns="urn:xmlns:ist.fisglobal.com/flex/modules"
	elementFormDefault="qualified"
>
	<xs:annotation>
		<xs:documentation>
			Definition for the Modules.xml document
		</xs:documentation>
	</xs:annotation>

	<xs:element name="modules">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="module" minOccurs="1" maxOccurs="1000">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string"/>
						<xs:attribute name="path" type="xs:string"/>
						<xs:attribute name="auth_id" type="xs:string"/>
						<xs:attribute name="request_type" type="xs:string"/>
						<xs:attribute name="show_event" type="xs:string"/>						
						<xs:attribute name="description" type="xs:string"/>
						<xs:attribute name="msam_screen" type="xs:boolean"/>		
						<xs:attribute name="open_template" type="xs:string"/>					
						<xs:attribute name="template_module" type="xs:string"/>					
						<xs:attribute name="template_request_type" type="xs:string"/>								
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>