config/Services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:xmlns:ist.fisglobal.com/flex/services"
	xmlns="urn:xmlns:ist.fisglobal.com/flex/services"
	elementFormDefault="qualified"
>
	<xs:annotation>
		<xs:documentation>
			Definition for the Services.xml document
		</xs:documentation>
	</xs:annotation>

	<xs:element name="services">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="1000">
					<xs:element name="service">
						<xs:complexType>
							<xs:attribute name="name" type="xs:string"/>
							<xs:attribute name="class" type="xs:string"/>
							<xs:attribute name="form_auth_id" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="list-provider">
						<xs:complexType>
							<xs:attribute name="name" type="xs:string"/>
							<xs:attribute name="class" type="xs:string"/>
						</xs:complexType>
					</xs:element>				
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>